# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Flask
instance/
.env

# Uploads
backend/uploads/

# Database
*.db
*.sqlite3

# Node.js
node_modules/
dist/
build/

# Logs
*.log

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db