body {
    background: linear-gradient(to right, #141e30, #243b55);
    color: white;
    font-family: Arial;
    text-align: center;
}

.container {
    margin-top: 100px;
}

h1 {
    font-size: 40px;
}

.buttons a {
    display: inline-block;
    margin: 10px;
    padding: 12px 25px;
    background: #00c6ff;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

.buttons a:hover {
    background: #ffcc00;
    color: black;
}