<!DOCTYPE html>
<html>
<head>
    <title>Dashboard - IDMS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div style="text-align:center; margin-top:50px;">

        <h1>📊 IDMS Dashboard</h1>

        <!-- USER WELCOME -->
        <h3>Welcome, {{ user }}</h3>

        <hr>

        <!-- MENU -->
        <div style="margin-top:30px;">
            <a href="{{ url_for('main.upload') }}">📤 Upload Document</a> <br><br>
            <a href="{{ url_for('main.documents') }}">📁 View Documents</a> <br><br>
            <a href="{{ url_for('main.logout') }}">🚪 Logout</a>
        </div>

    </div>

</body>
</html>